* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background: rgb(152,12,18);
  background: linear-gradient(349deg, rgba(152,12,18,1) 0%, rgba(50,0,3,1) 72.3%, rgba(28,0,0,1) 100%);
}

.myAudio {
  text-align: center;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}